
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUI.cshtml";
}

<br>


<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h4 class="text text-center text-info alert bg-primary"> Caste your vote from anywhere in the world</h4>
            <ul>
                <li>Excercise your voting rights quickly and easily at home - or from the other side of the world.</li>
                <li>Cast your ballot with any device with access to the internet from anywhere in the world.</li>
                <li>The secrecy of your ballot is maintained under the high security standards  </li>
                <li>Your vote remains anonymous as our system's architecture strictly separates your personal data from the electronic ballot</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <img src="~/rootcss/images/online3.jpg" class="img img-responsive" style="width: 550px ; height: 300px;">


        </div>
    </div>
</div>
<br>

